{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<head>


  <!-- portfolio section -->

  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          BUTTERFLY FACT
        </h2>
      </div>
     <div class="portfolio_container layout_padding2">
        <div class="box-1">
          <div class="img-box b-1">
            <img src="{% static 'images/p-3.jpg' %}" alt="">
          </div>        
          <div class="btn-box">
            <p>
               Who doesn’t enjoy witnessing one of these winged beauties in flight? From their brightly colored bodies to the effortless motion that seems in sync with some unheard symphony, butterflies are an insect each of us can appreciate. But how much do we know about them? This list includes 10 cool facts that are sure to make you think about butterflies in a whole new way.
             <ol>
                <li> Butterfly wings are transparent.
                Before you feel the need to schedule an eye exam, let us explain. The wings of a butterfly are covered in a multitude of miniature scales  –thousands of them. And those colors you see when a butterfly flits across your yard are the reflection of various colors through the scales. The wings themselves are made up of a protein called chitin, which is the same protein that forms an insect’s exoskeleton. And much like an exoskeleton, chitin is transparent. You’ve learned something new already!
                </li>   

                <li>There are almost 20,000 butterfly species.
                If you’d ever considered memorizing all the various species of butterflies, it may take longer than you were anticipating. An easier starting point would be those species regularly occurring in the lower 48 states of the US. Still, that number is right around 575, so we’re recommending note cards or, perhaps, focusing on the butterflies you find in and around your yard this spring and summer.
                </li>

                <li> Butterflies use their feet to taste.
                If everything up until this point was already a part of your existing butterfly knowledge, this fact may come as a curveball. However, if you think about it from the butterfly’s point of view, it isn’t that unusual. A butterfly’s daily activities consist of eating and mating, both of which require landing – even if it is only briefly. When food is the priority, those taste receptors help the butterfly locate the right plants and the key nutrients it needs for survival. Although many people wonder what it means when a butterfly lands on them, the truth is that it’s probably just hungry.
                </li>

                <li>Butterflies only live for a few weeks.For everyone who has been anxiously awaiting this since our earlier reference, or who simply skipped ahead until they found it, here you go. The average lifespan of an adult butterfly is roughly three to four weeks, however, the entire life cycle can last anywhere between two and eight months. As with anything, there are exceptions to the rule. At least one species of butterfly lives for approximately 24 hours, while some migratory butterflies, like the North American Monarch, can survive for nearly eight months. </li>

                <li>The most common butterfly in the US is the Cabbage White.
                Named for its mostly white marking, when hints of yellow and green like the vegetable, the Cabbage White may not be the most colorful butterfly in your garden or yard, but it is the most common. The male Cabbage White has one prominent black spot on each wing, while the female has two.
                </li>

                <li>Some butterfly species migrate from the cold.
                Although in many cases cold weather will end the already short life of a butterfly by rendering them immobile, others take the dropping temperature as a signal to move. Butterflies are cold-blooded and require – in ideal settings – a body temperature of approximately 85 degrees to activate their flight muscles. If the weather begins changing some species simply migrate in search of sunshine. Some, like the North American Monarch, travel an average of 2,500 miles!
                </li>

                <li>One of the largest butterflies is the Giant Swallowtail Butterfly.
                With a wingspread of between four and seven inches, this species has a name that fits its dimensions. If you have ever seen one on a hike or around your yard, you may have been spellbound by the sight of it. Their swallowtail description is borrowed from birds of the same name, thanks to the long tails on this butterfly’s hindwings.
                </li>

                <li> Butterflies have a liquid diet.We mentioned earlier that butterflies like to eat, which is true. What we didn’t include at the time is that their source of food is exclusively liquid. In fact, they simply don’t have the necessary apparatus for chewing. Using their proboscis, which functions in the same way you or I might use a straw, butterflies drink nectar or some other variation of liquid sustenance. 
                </li>

                <li> Butterfly wings help them against predators.
                As we’ve discussed, the lifespan of the average butterfly is short, and even at their peak, these insects are some of the most fragile. Staying alive for as long as possible allows the butterfly additional opportunities to mate, and continuing the existence of its species is of utmost importance. Therefore, butterflies frequently use their wings as a defense mechanism. Either by folding to blend in with their surroundings, or wearing a full spectrum of colors and patterns to frighten predators, a butterfly’s wings are often their best protection.
                </li>

                <li>Butterflies actually have four wings, not two.Speaking of wings, we may have intentionally left the most fascinating butterfly fact until last! Despite how they may appear in motion, or in drawings or paintings you may have seen, butterflies have four separate wings. The wings closest to its head are called the forewings, while those in the rear are called the hindwings. Thanks to strong muscles in the butterfly’s thorax, all four wings move up and down in a figure-eight pattern during flight. 
                </li>

              </ol>
              </p>
          </div>  
        </div>
      </div>
     
    </div>

  </section>

  <!-- end about section -->

  

</body>

</html
{% endblock %}