{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<head>


  <!-- portfolio section -->

  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          LION FACT
        </h2>
      </div>
     <div class="portfolio_container layout_padding2">
        <div class="box-1">
          <div class="img-box b-1">
            <img src="{% static 'images/p-6(6).jpg' %}" alt="">
          </div>        
          <div class="btn-box">
            <p>
               The lion, known as the king of the jungle, is perhaps the most popular wild animal. The lion is also referred to by its scientific name, Panthera Leo. We admire the lion for its fearsome roar, beautiful thick mane, and bravery, but there is so much more to know and love about this majestic animal.
               Did you know that not all male lions have manes? Did you know that although they are fierce felines, lions are the laziest big cats? Or did you know that although we commonly call the lion the king of the jungle, lions don't live in jungles? We explain all of these facts and more in this article.
               <ol>   
                <li><b>The lion is just a big cat</b>
                The lion and the house cat belong to the same family, Felidae. Although the house cat and lion belong to the same family, they are different in so many ways. 

                Lions belong to the category of felines referred to as big cats. Lions are the second-largest cat; tigers are the largest. They have a long well-muscled body, short legs, and an enormous head. A lion’s coat could vary from buff-yellow to silvery-grey or dark brown and orange-brown.
                </li>   

                <li><b>Male and female lions look different </b>
                Male lions look different compared to females because of manes. The females are also slightly smaller than adult males. Males stand at 1.2 meters with a 3.3-meter body length. Females are 1.1 meters tall and have a body length of about 2.4 meters. Male lions weigh about 189kg, while female lions weigh around 126kg.
                </li>

                <li><b>Lions can eat 40kg of meat at once</b>
                Lions are carnivores; they only ever eat meat. They hunt other land-dwelling mammals like zebras, antelopes, and wild hogs. Large animals like elephants and giraffes also fall prey to lions, especially when they sustain injuries or are sick. Sometimes, a lion will feed on leftovers or outrightly steal from other predators and smaller animals like wild dogs, hyenas, or leopards.
                In captivity, lions don’t need to hunt for their meal. They feed some lions domestic livestock while most lions eat ground beef specially produced to meet their nutritional needs. 

                Lions are such big eaters; they can eat up to a quarter of their body weight in a single meal. That is about 40kg of meat. A lion’s tongue is super coarse and is used to scrape meat off bones. Lions in the pride share their meals together. 
                </li>

                <li><b>These big cats love their pride</b>
                What's a group of lions called? - Lions live in groups called prides. They appear to be social animals compared to other big cats. A pride can have 4 to 38 members, but the average number is around 15 members. The pride consists of several generations of closely related females, their cubs, and a smaller number of males.

                Members of the pride usually hunt and eat together. They have a defined territory that they defend. The area ranges from 20 to 400 square km, and they mark it out by roaring and scent from urine and feces. A pride can keep its territory for decades, passing it on to female cubs not usually kicked out of the pride like the males.
                </li>

                <li><b>Lions are powerful but lazy</b>
                We know lions are the laziest of all the big cats. They spend 21 to 22 hours a day sleeping, resting, and just sitting around. That leaves them with about 2 to 3 hours of daily hunting time. These big cats gorge themselves on so much food that they don’t have to eat for several days.

                Thanks to the possession of excellent night vision, lions get up to hunt at night. This strategic move gives them advantages over prey. Lions mostly hunt at night but also take advantage of storms to hunt. The noise and poor visibility allow them to stealthily approach prey without spooking their dinner. 
                </li>

                <li><b>Lions live between 8-18 years</b>
                In the wild, lions may survive for 8 to 10 years which is relatively short compared to an expected lifespan of over 25 years in captivity. Many factors contribute to the short life expectancy in the wild but female lions have a better chance at a long life than males. That’s because the young males often get kicked out of the pride around the age of three.

                There are regular fatal fights to defend the lion’s position in the pride. Adult male lions also commit infanticide when they take over a new pride. Often, when a new dominant male joins a pride, he kills off all the cubs to start a new family carrying his genes only.
                </li>

                <li><b></b>Manes are a big deal</b>
                The adult male lions grow an impressive mane, but manes are not just for cool looks alone. The manes can grow up to 16cm long and make lions look bigger than they are. That illusion of size proves useful in attracting mates and scaring off potential rivals. A lion’s mane also serves as protection for the neck and head during fights and hunting.

                Lions start to grow manes at three years old. The older a male lion gets, the darker his mane becomes. A full and dark mane shows dominance. Note that not all adult males have manes. While some lions will have manes covering their head, shoulders, throat, and chest, some lions may just have a slight fringe around their face.
                </li>

                <li><b>Lion cubs are spotty</b>
               Unlike other big cats, Lions have a plain sandy coat, but they don’t start that way. Lion babies have greyish rosettes and spots that gradually fade away as they grow older. The spots will have faded at about three months old. The spots do not fade entirely in some lions and are still visible in adulthood.
                </li>

                <li><b>A lion has extremely sharp claws and a big mouth</b>
                A lion has five toes on its front paws and four toes on its back toes. Each toe has claws made of keratin, like human fingers and toenails. These claws can grow to 38 cm. 

                On the lion’s front paws are toes with claws that act as thumbs called the dewclaw. Lions keep their claws sharp by scratching trees. They also use these sharp claws to climb trees to seek shade. Also, lions keep their claws sheathed under fur while they rest and sleep.

                Lions have a big mouth, not because they talk or roar too much. But because they can spread their jaws up to 28 cm wide, that is almost a foot. Their large mouth houses three types of teeth; incisors, canines, and carnassials. The canines are the most prominent and can be as long as 7 cm.
                </li>

                <li><b>A mountain lion isn’t really a lion</b>
                The big cat known as the mountain lion is a new world cat species that belongs to the subfamily, puma. It is not a lion at all. The animal is also known as a cougar, catamount, or panther. The mountain lion is native to America and ranges from Alaska to Chile and Southern Argentina.
                </li>

              </ol>
              </p>
          </div>  
        </div>
      </div>
    </div>

  </section>

  <!-- end about section -->

  

</body>

</html
{% endblock %}