{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<head>


  <!-- portfolio section -->

  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          TIGER FACT
        </h2>
      </div>
     <div class="portfolio_container layout_padding2">
        <div class="box-1">
          <div class="img-box b-1">
            <img src="{% static 'images/p-6 (2).jpg' %}" alt="">
          </div>        
          <div class="btn-box">
            <p>
               Tigers look like they're wearing stripy orange pyjamas, but these cuddly carnivores are fast, strong, and dangerous hunters. If you ever meet one, RUN… and don't even think about inviting it over for tea! Read on for some fabulously fun tiger facts about these beautiful and ferocious giant cats — and we do mean giant. They’re the biggest cats in the world! And they’re not all orange. Did you know that the Bengal tiger is sometimes the colour of snow? Delve into more white tiger facts below.
            <ol>   
                <li><b>TIGERS ARE THE TRUE KINGS OF THE JUNGLE</b>
                You’ve probably heard that lions are the kings of the jungle, but did you know that lions don’t actually live in the jungle? It’s time they handed their crown to the real King of the Cats: Tigers. They’re bigger, stronger, and heavier than all other cats (including lions). Plus, they really do live in the jungle — in Asia, to be exact. One tiger can weigh as much as 300 kilograms and can grow as long as 2.8 metres (as long as a small car). 
                </li>   

                <li><b>TOP TIGER CHARACTERISTIC: THEY WEAR DIFFERENT STRIPES</b>
                These marvellous moggies have over 100 stripes and each pattern of stripes is as unique as a human fingerprint — so no two tigers have identical coats. The orange and black design isn’t just striking, but also the perfect camouflage. Dark orange blends in with trees and grasses, while the black stripes help the tiger melt into the shadows, so it’s nearly invisible. It’s the perfect outfit for a stealthy hunter!
                </li>

                <li><b>TIGERS HAVE FAKE EYES</b>
                Here are not one, but two interesting tiger characteristics: They have fake eyes called “ocelli”. These white spots of fur on the back of each ear scare other animals. It looks like the tiger is watching them, even when its head is turned the other way or it’s sleeping. Imagine it looked like someone was always watching you. Creepy…
                </li>

                <li><b>TIGERS HUNT ALONE AND AT NIGHT</b>
                Tigers are carnivores (which means they eat meat and catch other animals for food). When you're as fast and strong as a tiger, you don’t need friends to help you hunt. These cats hunt alone and usually at night. On the menu are large mammals like deer, wild pigs, and buffalo. Small snacks won’t feed a tiger. They can eat nearly 30 kilograms of meat in a single go. That’s in fact more than 120 hamburgers! They stalk their prey until they are close enough and then…POUNCE!
                </li>

                <li><b>TIGERS ARE FAST RUNNERS</b>
                If you want to outrun a tiger, you’d better be fast and fit. They may be big and heavy but they’re not slow! At full speed, these felines can reach up to 65km/h and roam as far as 30 kms a night in search of food. That’s why they need to live in large areas, full of trees, with plenty of water to drink and prey to eat.
                </li>

                <li><b>THEY’RE CATS WHO LOVE WATER</b>
                Tigers may look like giant versions of our house cats but, unlike most domestic cats, they love water and enjoy swimming. They even hunt in water and can swim really far. Mum tigers give their cubs swimming lessons! So no animal is safe from a tiger… not even if it’s in the water.
                </li>

                <li><b></b>THEY CAN ROAR BUT NOT PURR</b>
                It’s a strange tiger fact: Tigers can’t purr! Even if you manage to stroke one (not recommended!). Big cats can either purr or roar and tigers roar… sort of. It’s not the big roar of a lion but many short snarls that can be heard nearly 2 kilometres away.
                </li>

                <li><b>THERE ARE SIX DIFFERENT TYPES OF TIGERS</b>
                Meet the six groups or “subspecies” of tiger: South China, Indochinese, Sumatran, Siberian and Bengal tigers. Would you like to guess which tiger is the biggest? It’s the Siberian from Russia and China. And the smallest is the Sumatran. White tigers are actually very rare Bengal tigers and almost never found in the wild. Zoos breed these strikingly beautiful, blue-eyed beasts, but this is considered cruel as they are often unhealthy.
                </li>

                <li><b>TIGERS HAVE BEEN AROUND FOR A LONG TIME</b>
                Fossil remains of tigers were found in China and estimated to be two million years old. That’s as old as the earliest human fossils ever found. (A fossil is the preserved remains of a living plant, animal or insect that died a long time ago).
                </li>

                <li><b>FUN FACT: SABRE-TOOTHED TIGERS WEREN’T TIGERS</b>
                If you still think they were tigers, you need to get the real sabre-toothed “tiger” facts here: The scientific name for the sabre-toothed tiger is “Smilodon” which means “tooth like a double-edged knife”. It had long canine teeth that grew up to 20cm! This scary cat lived in North and South America and became extinct around 10,000 years ago. It was never a tiger but belonged to a family of cat cousins called Machairodontinae (ma-ke-ro-don-tinay).
                </li>

              </ol>
              </p>
          </div>  
        </div>
      </div>      
    </div>

  </section>

  <!-- end about section -->

  

</body>

</html
{% endblock %}