{% extends 'header.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<head>


  <!-- portfolio section -->

  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          VULTURE FACT
        </h2>
      </div>
     <div class="portfolio_container layout_padding2">
        <div class="box-1">
          <div class="img-box b-1">
            <img src="{% static 'images/p-5(5).jpg' %}" alt="" style="height: 800px; width: 1200px;">
          </div>        
          <div class="btn-box">
            <p>
               A vulture is a scavenging bird of prey which plays a very important role in maintaining the ecosystem by eating dead and rotting animal carcass, in the wild.
            <ol>   
                <li><b>What do vultures eat?</b>
                They usually eat carrion, although sometimes they attack newborn or wounded animals. Vultures generally go without food for long periods of time. So once they do find something to eat, they eat their fill. Vultures have a throat pouch called a crop, which is used to store food to be consumed later or to feed young ones.
                </li>   

                <li><b>What are the types of vultures found around the world?</b>
                Vultures are practically found all over the world except Australia and Antarctica.
                Vultures can be divided into two groups.
                </li>

                <li><b>1. Old World Vultures</b>
                They are found in Asia, Africa and Europe.
                They look like their eagle, hawk, buzzards and kites species. They have grasping talons and voice box to vocalise with and build their nests on trees or rocky crevices with twigs. They find carcasses exclusively by sight.

                <b>There are 16 identified species of old world vultures.</b>

                <ol> 
                       <li>Cinereous vulture</li>
                       <li>Griffon vulture</li>
                       <li>White-rumped vulture</li>
                       <li>Rüppell’s vulture</li>
                       <li>Indian vulture</li>
                       <li>Slender-billed vulture</li>
                       <li>Himalayan vulture</li>
                       <li>White-backed vulture</li>
                       <li>Cape vulture</li>
                       <li>Hooded vulture</li>
                       <li>Red-headed vulture</li>
                       <li>Lappet-faced vulture</li>
                       <li>White-headed vulture</li>
                       <li>Bearded vulture (Lammergeier)</li>
                       <li>Egyptian vulture</li>
                       <li>Palm-nut vulture</li>
                </ol>

                </li>

                <li><b>New World Vultures</b>
                They are from North, Central and South America.
                They have a distinctly bald head, an adaptation that reduces the risks of disease, because bacteria might grow in feathers with blood and meat caught in between.New world vultures have nostrils that are long and horizontal with a space between them. Some species have highly developed smells. They do not have a voice box and hence cannot make any sound except grunts and hisses.
                They do not build nests, but lay their eggs in holes in rocky crevices or hollows of trees.

                <b>There are 7 identified species of new world vultures.</b>

                <ol> 
                       <li>Black vulture</li>
                       <li>Turkey vulture</li>
                       <li>Lesser yellow-headed vulture</li>
                       <li>Greater yellow-headed vulture</li>
                       <li>California condor</li>
                       <li>Andean condor</li>
                       <li>King vulture</li>

                </ol>
                </li>


                <li><b>What makes vultures unique as scavenging birds?</b>
                Vultures have a huge wingspan which allows them to stay in flight for long periods of time, without flapping their wings. This way they can soar at high altitudes without tiring and keep a look out for food, generally an animal that is dying, or is already dead. Once one vulture locates food, other vultures follow. There is generally a pecking order based on size.
                They have incredibly sharp eyesight.
                Their bodies are built for scavenging. Their extremely strong, sharp and hooked beaks can tear a carcass apart, but since they do not catch live animals, their talons are not as sharp as other birds of prey. Some vultures because of their smaller size, like the Hooded Vulture, have adapted to eating termites and lizards.
                They have strong stomach acid, which is exceptionally corrosive and allows them to safely digest putrid carcasses infected with botulism, cholera, anthrax and even rabies that might be lethal to other scavengers.
                They generally have bald heads and necks devoid of feathers, to avoid fostering bacteria growth that might be caused by blood and meat from carcass.
                Vultures urinate on their legs and feet to cool off on days, a process called Urohydrosis. This also helps kill any bacteria or parasites they may have picked up on their talons.
                </li>

                <li><b>Interesting facts about vultures</b>
                Although they feed on dead animals, they bathe after eating.
                Vultures are relatively social and often feed, fly or roost in large flocks. A group of vultures is called a committee, venue or volt. In flight, a flock of vultures is called a kettle, and when the birds are feeding together at a carcass, the group is called a wake.
                The Indian vultures were on the verge of extinction because of the use of a veterinary drug found in carcass of livestock.
                The first Saturday in Spetember is recognised as International Vulture Awareness Day.
                </li>

                </ol>
              </p>
          </div>  
        </div>
      </div>      
    </div>

  </section>

  <!-- end about section -->

  

</body>

</html
{% endblock %}